<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/style.css")
    title Document
  body
    header.header
      div.container
        div.row.align-items-center.justify-content-between
          div.col-3
            button.btn.btn-light.button <i class="fas fa-bars"></i>
          div.col-6
            p.header__logo Company logo
          div.col-3.d-flex.flex-row-reverse
            .dropdown.header__dropdown
              button#dropdownMenuButton.btn.btn-light.btn-secondary.dropdown-toggle.button.header__dropdown-button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Options
              .dropdown-menu.header__dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item.header__dropdown-item(href='#') Action
                a.dropdown-item.header__dropdown-item(href='#') Another action
                a.dropdown-item.header__dropdown-item(href='#') Something else here

    section.section
      div.container
        div.row
          div.col-sm
            p.opensansLight One of three columns of the bootstrap
          div.col-sm
            p.opensansReg One of three columns of the bootstrap
          div.col-sm
            p.helvetica One of three columns of the bootstrap

    footer.footer
      div.container
        div.row.align-items-center.justify-content-between
          div.col-6
            p.footer__copyright © Copyright 2017
          div.col-6.d-flex.flex-row-reverse
            div.footer__buttons
              button.btn.btn-light.button.footer__button.footer__button-save <i class="far fa-save"></i> Save
              button.btn.btn-outline-light.button.footer__button.footer__button-back <i class="fas fa-reply"></i> Back


    //- Scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://kit.fontawesome.com/61d2e0d67e.js")
    script(src="js/main.js")