footer.footer
  div.container
    div.row.align-items-center.justify-content-between
      div.col-6
        p.footer__copyright © Copyright 2017
      div.col-6.d-flex.flex-row-reverse
        div.footer__buttons
          button.btn.btn-light.button.footer__button.footer__button-save <i class="far fa-save"></i> Save
          button.btn.btn-outline-light.button.footer__button.footer__button-back <i class="fas fa-reply"></i> Back
