header.header
  div.container
    div.row.align-items-center.justify-content-between
      div.col.header__button
        button.btn.btn-light.button.header__button-menu <i class="fas fa-bars"></i>
      div.col
        p.header__logo Company logo
      div.col.d-flex.flex-row-reverse
        .dropdown.header__dropdown
          button#dropdownMenuButton.btn.btn-light.btn-secondary.dropdown-toggle.button.header__dropdown-button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Options
          .dropdown-menu.header__dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item.header__dropdown-item(href='#') English
            a.dropdown-item.header__dropdown-item(href='#') Russian
