mixin textBlock(class_name)
  div(class=class_name).section__leftBlock-text
    p
      span
      | Text for display

+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')
+textBlock()
+textBlock('section__leftBlock-color')