//- mixin textBlock(class_name, text)
//-   div(class=class_name).section__leftBlock-text
//-     p
//-       span
//-       = text

//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Long text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')
//- +textBlock('', 'Text for display')
//- +textBlock('section__leftBlock-color', 'Text for display')