mixin navItem(link, name)
  li.section__nav-item
    a(href=link, id=id).section__nav-link=name

ul.section__nav
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Very very Long Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Very very Long Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Very very Long Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Very very Long Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Very very Long Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
  +navItem('#', 'Link for display')
