//- mixin textBlock(class_name)
//-   div(class=class_name).section__rightBlock-text
//-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet officiis vitae laborum non error voluptas? Impedit, blanditiis. Quas aliquam ipsam suscipit asperiores nihil cum doloremque voluptas libero. Provident, qui.

//- +textBlock('')
//- +textBlock('section__rightBlock-color')
//- +textBlock('')
//- +textBlock('section__rightBlock-color')
//- +textBlock('')
//- +textBlock('section__rightBlock-color')
//- +textBlock('')
//- +textBlock('section__rightBlock-color')
//- +textBlock('')
//- +textBlock('section__rightBlock-color')
//- +textBlock('')
//- +textBlock('section__rightBlock-color')
//- +textBlock('')