section.section
  div.container-fluid
    div.row
      div.col-3
        include menu
      div.section__col
        p.opensansReg One of three columns of the bootstrap
      div.col
        p.helvetica One of three columns of the bootstrap
      div.section__col
        p.helvetica One of three columns of the bootstrap
