.section
  display: block
  padding: 0
  margin-bottom: 1rem
  // max-height: 73vh
  &__menu
    // height: 73vh
    height: 100%
    overflow-x: hidden
    z-index: 2
    padding: 2rem 2rem 0 5rem
    transition: 0.1s
    &-disable
      opacity: 0
  &__nav
    &-item
      max-width: 95%
      overflow: hidden
      text-overflow: ellipsis
      color: $color-white
    &-link
      white-space: pre
      +opensans-light
      font-size: 1.8rem
      color: $color-white
      &:hover
        color: $color-white
      &:active
        color: red
  &__leftBlock
    background-color: $color-white
    +opensans-reg
    font-size: 1.6rem
    color: $color-common-bg
    width: 24rem
  &__leftBlock, &__centerBlock, &__rightBlock
    padding: 2rem 1.5rem
    overflow-x: hidden
    max-height: 72vh
  &__centerBlock
    background-color: $color-light-bg
    margin: 0 0.5rem
  &__centerBlock, &__rightBlock
    +opensans-light
    font-size: 1.4rem
  &__rightBlock
    width: 25rem

@media (max-width: 1023px)
  .section
    &__menu
      max-height: 12rem
      padding: 1rem 2rem 0 2rem
      margin-bottom: 1.5rem